* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff7f0;
  color: #330000;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: #591600;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.menu a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

/* HERO */
.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff1e6;
}

.hero h2 {
  font-size: 2rem;
  color: #791f00;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #d9471a;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #b8360f;
}

.btn-secundario {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: transparent;
  color: #791f00;
  border: 2px solid #791f00;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-secundario:hover {
  background-color: #791f00;
  color: #fff;
}

/* GALERÍA */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

.galeria img {
  width: 200%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}

/* EVENTOS */
.eventos {
  padding: 4rem 2rem;
  background-color: #fff6f0;
  text-align: center;
}

.eventos h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #791f00;
}

.evento-card {
  background-color: #ffe5d0;
  border-radius: 15px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.evento-card h3 {
  color: #791f00;
  margin-bottom: 0.5rem;
}

/* TESTIMONIOS */
.testimonios {
  padding: 4rem 2rem;
  background-color: #fff1e6;
  text-align: center;
}

.testimonios h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #791f00;
}

.testimonio {
  background-color: #ffe5d0;
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
  border-radius: 10px;
}

.testimonio p {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.testimonio span {
  font-weight: bold;
  color: #591600;
}
/*Imágenes*/
.caja:hover img {opacity:0.5; transform: all 1s}
.caja hover2 
/*Celulares*/
@media
